Terraform/prod/.DS_Store
Terraform/.DS_Store
Terraform/**/.terraform/*
.DS_Store
*.DS_Store
*.tfstate
*.tfstate.*
*.backup
*.terraform/*
**/.terraform*/*
Ansible/ansible.log
Ansible/playbooks/ansible.log
Ansible/playbooks/.ansible_inventory
Ansible/**/.ansible.log
*/ansible.log
**/.ansible.log
**/.terraform.lock.hcl
**/.terraform.tfstate
*__pycache__*
*.pyc
Python/pytest_validate_account/config
Python/pytest_validate_account/env.sh
workspace/*
